body{background-color:#eaea81;}
h1{color:#602c60;} 
h2{color:#a8a2d6;}
p{color:#c4aeb8;}
ul{list-style-type: none;
  margin:0;
  padding:0;}
li{display: inline:}
li{float: left;}
li a{display: block;
  padding: 5px; 
  text-align: center;
  background color:#a8a2d6;}
ul{ background color:#a8a2d6;} 
li a:hover {
    background-color: #f28482;
}
.active {
    background-color: #a8a2d6;
}

ul {
    position: fixed;
    top: 0;
    width: 100%;
}
