body{background-color:#b75b66;
background-image: url("blob/gh-pages/images/tile.png.jpg");}
a{color:#75a88b;}
a:hover{color:#98ada4;} 
h1{color:#c2a6e0;}
p{color:#b4c0e8;}
h2{color:#cbce73;}
div {width: 500px;
  border: 50px #efbe6e;
  padding: 25px;
  margin:20px;} 
ul{list-style-type: none;
  margin:0;
  padding:0;}
li{display: inline;}
li{float: middle;}
a{display: block;
  padding: 10px; 
  background color:#a8a2d6;}
ul{ background color:#a8a2d6;} 
