body{background-image: url("https://s-media-cache-ak0.pinimg.com/564x/3d/d4/ca/3dd4ca8c4fc13e2c9cf8ab1a30d18ad3.jpg");}
a{color:#75a88b;}
a:hover{color:#98ada4;} 
h1{color:#c2a6e0;}
p{color:#5b8270;}
h2{color:#cbce73;}
div {width: 500px;
  border: 50px #efbe6e;
  padding: 0px;
  margin:0px;} 
ul{list-style-type: none;
  margin:0px;
  padding:0px;}
li{display: inline;}
ul{
  width: 500px;
  padding-left: 0px;
  float: right;
  height: 54px;
}
li{float: left;}
li a{display: block;
  padding: 15px; 
  text-align:center ;
  background-color:#a8a2d6;}
ul{ background-color:#a8a2d6;} 
li a:hover {
    background-color: #f28482;
}
.active {
    background-color: #b75b66;
}
ul {
    position: fixed;
    top: 0;
    width: 100%;
}
.rcorners3 {
    border-radius: 25px;
    background: url("https://cdn.fstoppers.com/styles/full/s3/media/2016/05/23/puppy-lick-puppies-licking-8.jpg");
    background-position: left top;
    background-repeat: repeat;
    padding: 20px; 
    width: 200px;
    height: 150px; 
}
